@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&family=Russo+One&display=swap');

.App {
    text-align: center;
}

body {
    background-color: #282c34;
}

.lessonInfo {
    font-family: 'Russo One';
    font-size: 24px;
    color: white;
}

.otherInfo {
    font-family: 'Russo One';
    font-size: 16px;
    color: white;
}

.titleGen {
    font-family: 'Rubik Dirt';
    color: white;
    font-size: 35px;
}

.btn-lg {
    width: 200px;
    justify-content: center;
}

.card {
    margin-top: 40px;
    margin-bottom: 20px;
}

@media (max-width: 767px) {
    .btn-lg {
        width: 100%;
    }

    .card {
        margin-top: 0px;
        margin-bottom: 20px;
    }
}


@media (max-width: 767px) {
    .btn-lg {
        width: 100%;
    }
}
